<div class="container">
    <div class="row">
        <div class="col">            
            <img style="width:40%;height:40%" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{identifier}}.png" alt="">
            <p><strong>Identificador</strong> {{identifier}}</p>
            <p><strong>Name</strong> {{ pokemon.name }}</p>
            <p><strong>Height</strong> {{ pokemon.height }}</p>
            <p><strong>Weight</strong> {{ pokemon.weight }}</p>            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
    </div>
</div>
