
<div class="text-center my-3">
        <a [routerLink]="['/listas']" class="btn" [ngClass]="{'btn-primary': isListType, 'btn-secondary': !isListType}" (click)="toggleView('list')">
           <i class="fa fa-list"></i> Ver en Lista
        </a>
        <a [routerLink]="['/cards']" class="btn m-lg-2" [ngClass]="{'btn-primary': !isListType, 'btn-secondary': isListType}" (click)="toggleView('list')">
           <i class="fa fa-th"></i> Ver en Cards
        </a>
</div>      

<router-outlet></router-outlet>